@font-face {
  font-display: swap;
  font-family: 'Syne';
  font-weight: 400;
  src: url('../fonts/syne-v22-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Syne';
  font-weight: 500;
  src: url('../fonts/syne-v22-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Syne';
  font-weight: 600;
  src: url('../fonts/syne-v22-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Syne';
  font-weight: 700;
  src: url('../fonts/syne-v22-latin-700.woff2') format('woff2');
}

:root {
  --color-brand: #9f97ca;
  --color-primery-dark: #444649;
  --color-primery-light: #ffffff;
  --color-accent: #e8ecf2;
  --color-mint: #b2cdd1;
  --color-beige: #e8e3de;
  --color-brand-light: #9f97ca78;
}
/* Baza*/
body {
  color: var(--color-primery-dark);
  font-family: Syne, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}
h2 {
  word-break: break-all;
}
address {
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.img-visually {
  opacity: 0.2;
}

.section {
  padding: 48px 0;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/*Button*/
* {
  box-sizing: border-box;
}
.button-primary {
  color: var(--color-primery-light);
  background-color: var(--color-primery-dark);
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}
.button-primary:hover {
  color: var(--color-primery-dark);
  background-color: transparent;
  border: 2px solid var(--color-primery-dark);
}
.container-button {
  background-color: var(--color-primery-light);
  display: flex;
  width: 80%;
  justify-content: center;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 3px 3px var(--color-primery-dark);
}
/*Link*/
.link {
  color: var(--color-primery-dark);
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand);
}
/* Header*/
.header-container {
  display: flex;
}
.header-nav {
  flex-grow: 1;
}
.header-menu {
  display: flex;
  gap: 64px;
}
/*Hero section*/
.hero-section {
  background-color: var(--color-brand);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 10;
}

.hero-title {
  font-size: 25px;
  font-weight: 600;
  padding-top: 30px;
}
.sectionhero-title {
  color: var(--color-primery-light);
}
.sectionhero-text {
  color: var(--color-primery-light);
  line-height: 1.25;
  margin-bottom: 60px;
}
.hero-infobox {
  color: var(--color-brand);
  background-color: var(--color-accent);
  text-align: center;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--color-primery-dark);
}

.sectionhero {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.conteiner-infobox {
  display: flex;
  max-width: 332px;
  align-self: center;
  padding: 16px;
  border-radius: 10px;
}
.hero-foto {
  display: flex;
}

/*Section*/
.section-title {
  color: var(--color-primery-dark);
}
/*Format section*/
.format-infobox {
  background-color: var(--color-primery-light);
  border-radius: 10px;
  box-shadow: 3px 3px var(--color-brand);
  width: 33%;
  padding: 24px;
}
.format-infosection {
  background: linear-gradient(
    var(--color-primery-light),
    var(--color-brand-light)
  );
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.format-foto {
  /*не адаптується*/
  border-radius: 10px;
  margin: 16px 16px;
  box-shadow: 0 0 8px var(--color-primery-dark);
}
.format-fotocolumn {
  display: flex;
  flex-direction: column;
}
.migration-format {
  border: 2px solid var(--color-primery-dark);
  border-radius: 10px;
  padding: 16px;
  width: 50%;
  margin-bottom: 32px;
}

/*Section-skills*/

.skills-section {
  background-color: var(--color-accent);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: -30px;
  padding-top: 48px;
  padding-bottom: 18px;
  position: relative;
  z-index: 1;
}
.skills-icon {
  display: flex;
  justify-content: center;
  gap: 40px;
}
/*Infobox section*/
.infobox-title {
  color: var(--color-primery-dark);
  text-align: center;
}

.infobox-punkt {
  color: var(--color-primery-light);
}

.article-box {
  display: flex;
  gap: 30px;
}

/*Developen services section*/
.devservices-section {
  display: flex;
  justify-content: space-between;
}
.migration-box {
  display: flex;
  justify-content: center;
}

/*Administrator-section*/
.administrator-section {
  background-color: var(--color-accent);
}
.admin-box {
  display: flex;
}

/*Footer*/
.address-link {
  color: var(--color-brand);
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-primery-dark);
}
.copyright {
  color: var(--color-brand);
  font-size: 14px;
}
