:root {
  --color-brand: #372148;
  --color-primery-dark: #000000;
  --color-primery-light: #ffffff;
  --color-accent: #e8ecf2;
  --color-accent-peach: #f4b09a;
  --color-brand-light: #9f97ca78;
  --color-peach-light: #fff2ed;
  --color-gray-transporant: #00000080;
  --color-gray: #e8ecf2;
}
