:root {
  --color-brand: #9f97ca;
  --color-primery-dark: #444649;
  --color-primery-light: #ffffff;
  --color-accent: #e8ecf2;
  --color-mint: #ebfafc;
  --color-beige: #e8e3de;
  --color-brand-light: #9f97ca78;
}
