.care-section {
  background: radial-gradient(
    circle at center,
    var(--color-accent) 0%,
    var(--color-primery-light) 69%
  );

  &__list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    @media screen and (max-width: $bp-tablet) {
      gap: 10px;
    }
    @media screen and (max-width: $bp-mobile) {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__item {
    display: flex;
    flex-basis: calc((100% - 30px) / 2);
    background-color: var(--color-primery-light);
    border-radius: 40px;
    box-shadow: 0 0 5px var(--color-gray-transporant);
    padding: 30px 30px 20px 10px;
    margin: 0 auto 0;
    @media screen and (max-width: $bp-tablet) {
      padding: 20px;
    }
    @media screen and (max-width: $bp-mobile) {
      flex-basis: 100%;
    }
  }
  &__article-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 0px;
    }
  }
  &__text {
    padding-top: 20px;
    h4 {
      text-align: center;
    }
  }

  &__picture {
    /*display: flex;
    flex-basis: 80%;*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin: 0 auto 0;

    &[data-type='one'] {
      background-image: url(../images/security.svg);
    }
    &[data-type='two'] {
      background-image: url(../images/SEO.svg);
    }
    &[data-type='three'] {
      background-image: url(../images/optimization.svg);
    }
    &[data-type='four'] {
      background-image: url(../images/kompatable.svg);
    }
  }
}
