.devservices-section {
  background: linear-gradient(
    180deg,
    var(--color-peach-light) 2%,
    var(--color-primery-light) 31%
  );

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__topsection {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $bp-mobile) {
      flex-direction: column;
    }
  }
  &__box {
    display: flex;
    justify-content: left;
  }
  &__migration {
    padding: 16px;
    width: 40%;
    margin-bottom: 32px;
    @media screen and (max-width: $bp-mobile) {
      width: 100%;
      padding: 0;
    }
  }
  &__mehr {
    background-color: transparent;
    border: 3px solid transparent;
    border-bottom: 3px solid var(--color-accent-peach);
    text-align: left;
    padding-left: 0;
    font-size: 16px;
    font-family: Syne, sans-serif;
    cursor: pointer;
    @media screen and (max-width: $bp-mobile) {
      color: var(--color-primery-dark);
    }
  }
  &__mehr:hover {
    border-bottom: transparent;
  }

  &__zyrkus {
    display: flex;
    flex-direction: column;
  }
  &__format-p {
    padding-bottom: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    @media screen and (max-width: $bp-mobile) {
      margin-bottom: 0;
    }
  }
  &__chema {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $bp-mobile) {
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 0 20px;
    }
  }
  &__paragraph {
    text-align: left;
    border-top: 2px dashed var(--color-primery-dark);
    border-width: 3px;
    width: calc(100% / 6);
    @media screen and (max-width: $bp-mobile) {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      margin-bottom: 20px;
      border-top: none;
      border-width: 0;
      p {
        display: flex;
        align-items: center;
        margin: 0;
        line-height: 1;
      }
    }
  }

  &__num {
    margin-top: -30px;
    margin-left: -10px;
    @media screen and (max-width: $bp-mobile) {
      margin-top: 0;
      margin-left: 0;
      width: 35px;
      height: 35px;
    }
  }
}
