.devservices-section {
  background: linear-gradient(
    180deg,
    var(--color-peach-light) 2%,
    var(--color-primery-light) 31%
  );

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__topsection {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $bp-mobile) {
      flex-direction: column;
    }
  }
  &__box {
    display: flex;
    justify-content: left;
  }
  &__migration {
    padding: 16px;
    width: 40%;
    margin-bottom: 32px;
    @media screen and (max-width: $bp-mobile) {
      width: 100%;
      padding: 0;
    }
  }
  &__mehr {
    background-color: transparent;
    border: 3px solid transparent;
    border-bottom: 3px solid var(--color-accent-peach);
    text-align: left;
    padding-left: 0;
    font-size: 16px;
    font-family: Syne, sans-serif;
    cursor: pointer;
  }
  &__mehr:hover {
    border-bottom: transparent;
  }

  &__zyrkus {
    display: flex;
    flex-direction: column;
  }
  &__p {
    padding-bottom: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    @media screen and (max-width: $bp-mobile) {
      margin-bottom: 0;
    }
  }
  &__chema {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $bp-mobile) {
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 0 20px;
    }
  }
  &__paragraph {
    text-align: left;
    border-top: 2px dashed var(--color-primery-dark);
    border-width: 3px;
    width: calc(100% / 6);
    @media screen and (max-width: $bp-mobile) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__num {
    margin-top: -30px;
    margin-left: -10px;
  }
}
/*.devservices-main {
  display: flex;
  justify-content: space-between;
}
.devservices-greycolumn {
  background-color: var(--color-accent);
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  display: flex;
  flex-basis: 70%;
  gap: 30px;
  padding: 40px 40px;
  position: relative;
  z-index: 12;
}
.devservices-blackcolumn {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: var(--color-primery-dark);
  color: var(--color-primery-light);
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  margin-right: -60px;
  padding: 40px 40px 40px 20px;
  position: relative;
  z-index: 2;
}
.devservices-list p {
  padding-top: 50px;
  flex-basis: 80%;
}

.psevdo-button {
  background-color: transparent;
  color: var(--color-primery-dark);
  padding-left: 5px;
  margin-left: -250px;
}
.psevdo-box {
  display: flex;
  background-color: var(--color-accent-peach);
  border-width: 0;
  border-radius: 10px;
  justify-content: space-between;
  white-space: nowrap;
  text-align: start;
  align-items: center;
  padding: 10px 10px;
  gap: 40px;
}
.devservices-infobox {
  display: flex;
  flex-basis: 50%;
}
/*.devservices-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.devservices-text {
  color: var(--color-primery-light);
}
.litext-box {
  display: flex;
}

.li-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
}*/
