.header {
  /*position: absolute;
  top: 0;
  left: 0;
  width: 100%;*/
  padding-top: 8px;

  &__container {
    display: flex;
  }

  &__title {
    display: flex;
    font-size: 35px;
    font-weight: 600;
    padding-top: 32px;
    padding-right: 64px;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  &__menu {
    display: flex;
    gap: 64px;
  }
}
