.portfolio-section {
  background-color: var(--color-brand);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  z-index: 15;

  &__header {
    display: flex;
    flex-direction: column;
    color: var(--color-primery-light);
    text-align: center;
  }
  &__header p {
    font-size: 20px;
    display: block;
    width: 40%;
    margin: 0 auto 0;
    padding-bottom: 20px;
  }
  &__header h2 {
    font-size: 25px;
  }
  /*копія класів*/
  &__list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  &__item {
    flex-basis: calc((100% - 30px) / 2);
    background-color: var(--color-primery-light);
    border-radius: 40px;
    padding: 20px 40px;
    margin: 0 auto 0;
  }
  &__article-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  &__title-box h3 {
    font-size: 20px;
    display: block;
    flex-basis: 50%;
    margin: 0 auto 10px;
    text-align: center;
  }
  &__foto {
    display: flex;
    border-color: 2px solid var(--color-gray-transporant);
    box-shadow: 0 0 10px var(--color-gray-transporant);
    width: 40%;
  }
  &__site {
    display: flex;
    gap: 30px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-between;
  }

  &__description p {
    font-size: 20px;
  }
  &__button {
    display: flex;
  }
  &__primary {
    color: var(--color-primery-light);
    background-color: var(--color-primery-dark);
    border-radius: 20px;
    border: 5px solid var(--color-primery-dark);
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  &__primary:hover {
    color: var(--color-primery-dark);
    background-color: var(--color-accent-peach);
    border: 5px solid var(--color-accent-peach);
    box-shadow: none;
  }
  &__migration {
    display: flex;
    flex-basis: 40%;
  }
  &__migration p {
    text-align: left;
  }
  &__grunt {
    display: flex;
    flex-direction: column;
  }
  &__grunt p {
    margin: 0px;
  }
  &__video {
    display: flex;
    flex-basis: 60%;
  }
  &__video p {
    text-align: center;
  }
}
