.skills-section {
  background-color: var(--color-accent);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: -30px;
  padding-top: 48px;
  padding-bottom: 18px;
  position: relative;
  z-index: 1;

  &__icon {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @media screen and (max-width: $bp-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
