.button-primary {
  color: var(--color-primery-light);
  background-color: var(--color-accent-peach);
  border-radius: 10px;
  border-color: var(--color-accent-peach);
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
}
.button-primary:hover {
  color: var(--color-primery-dark);
  background-color: var(--color-primery-light);
  border-color: var(--color-primery-light);
}
.container-button {
  display: flex;
  justify-content: start;
  padding: 0 0 75px 0;
  @media screen and (max-width: $bp-mobile) {
    padding-bottom: 0px;
  }
}
.centr {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}
