.button-primary {
  color: var(--color-primery-light);
  background-color: var(--color-primery-dark);
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}
.button-primary:hover {
  color: var(--color-primery-dark);
  background-color: transparent;
  border: 2px solid var(--color-primery-dark);
}
.container-button {
  display: flex;
  justify-content: center;
  background-color: var(--color-primery-light);
  box-shadow: 3px 3px var(--color-primery-dark);
  border-radius: 10px;
  padding: 16px;
  max-width: 400px;
}
